@import "reset.css";
body {
	font-family: "Titilium Web", sans-serif;
	background-color: gray;
}
.wrapper {
	max-width: 1140px;
	width: 1100px;
	margin: 0 auto;
}
.top-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 150px;
}
header {
	background-color: #87509c;
}
.header-nav {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}
.header-nav a {
	color: inherit;
}
.header-nav ul {
	display: flex;
}
.header-nav li {
	padding-left: 17px;
	padding-right: 17px;
	height: 30px;
	line-height: 30px;
	margin: 0 2px;
}
.header-nav li.active {
	background-color: #643a79;
	border-radius: 4px;
}
.header-nav li:hover {
	background-color: #643a79;
	border-radius: 4px;
	transition: background 300ms ease-in-out;
}
.bottom-line {
	text-align: center;
	padding-top: 85px;
	padding-bottom: 145px;
}
.bottom-line p {
	color: #f7f3ea;
	font-size: 42px;
	font-weight: 700;
	line-height: 48.82px;
	padding-bottom: 54px;
}
.button {
	display: inline-block;
	color: #ffffff;
	width: 293px;
	height: 65px;
	font-size: 18px;
	font-weight: 400;
	line-height: 65px;
	text-transform: uppercase;
	letter-spacing: 0.27px;
	border-radius: 4px;
	transition: background 300ms ease-in-out;
}
div.bottom-line .button {
	background-color: #eb7d4b;
	border-bottom: 4px solid #c86a40;
}
div.bottom-line .button:hover,
div.bottom-line .button:active {
	background-color: #c86a40;
	border: none;
	transition: all 300ms ease-in-out;
}
section.services {
	background-color: #17c2a4;
	padding: 120px 0;
	text-align: center;
}
section.services h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 4px;
	margin-bottom: 25px;
	position: relative;
}
section.services h2:after {
	content: "";
	display: block;
	width: 87px;
	height: 4px;
	background: rgba(0, 0, 0, 0.15);
	align-items: center;
	position: absolute;
	left: 50%;
	margin: 21px 0 0 -43.5px;
}
section.services .description {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.36px;
	padding-top: 23px;
	margin-bottom: 60px;
}
section.services .services-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
section.services .services-list .services-item {
	height: 250px;
	width: 250px;
}
section.services .services-list .services-item .img {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
}
section.services .services-list .services-item .item-title {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.48px;
	margin-bottom: 20px;
}
section.services .services-list .services-item .item-description {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.32px;
}
section.contact {
	background-color: #3c5499;
	padding: 120px 0;
	text-align: center;
}
section.contact h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 25px;
	position: relative;
}
section.contact h2:after {
	content: "";
	display: block;
	width: 86px;
	height: 4px;
	background: rgba(0, 0, 0, 0.15);
	align-items: center;
	position: absolute;
	left: 50%;
	margin: 21px 0 0 -43.5px;
}
section.contact .description {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.36px;
	padding-top: 23px;
	margin-bottom: 70px;
}
section.contact .contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 860px;
	margin: 0 auto;
}
section.contact .contact-form input[type="text"],
section.contact .contact-form input[type="email"] {
	width: calc(50% - 16px);
	height: 56px;
	margin-bottom: 27px;
	background-color: #273a71;
	padding-left: 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	border: none;
	border-radius: 4px;
}
section.contact .contact-form textarea {
	width: 100%;
	height: 200px;
	margin-bottom: 59px;
	background-color: #273a71;
	padding: 24px 0 0 25px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	border: none;
	border-radius: 4px;
}
section.contact .button {
	margin: 0 auto;
	background-color: #30bae7;
	border-bottom: 4px solid #299ec4;
}
section.contact .button:hover,
section.contact .button:active {
	background-color: #299ec4;
	border: none;
	transition: all 300ms ease-in-out;
}
::placeholder {
	color: #ffffff;
	opacity: 1;
	font-size: 18px;
}
footer.footer {
	background-color: #344b8e;
	color: #ffffff;
	text-decoration: none;
}
.footer nav {
	font-size: 24px;
	font-weight: 400;
	line-height: 29.91px;
	letter-spacing: 0.02em;
}
.footer ul {
	min-height: 112px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 5%;
}
footer.footer a {
	color: inherit;
}
footer.footer a:hover {
	color: #30bae7;
}
